body {
    font-family: "Open Sans",sans-serif!important;
    color: #555555;
    line-height: 22px;
    font-size: 15px!important;
    font-style: normal;
    background: #f9f9f9!important;
    position: relative;
    overflow-x: hidden;
}
html {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
}
table {
    text-align: center;
}
#entry-wrapper {
    width: 100%;
    max-width: 100%;
    background-color: #FBFBFB;
}
#header-default.scroll-fixed > .entry-top {
    display: none;
}
.helpdesk {
    padding-top: 4px;
    margin-left: 5px;
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 14px;
}
.entry-top {
    color: #FFF;
    font-family: Arial;
    font-size: 16px;
    height: auto;
    width: 100%;
}
#entry-wrapper.scroll-fixed {
    margin-top: 150px;
}
#header-default.scroll-fixed {
    position: fixed;
    top: 0;
    padding-top: 0;
    width: 100%;
    left: 0;
    z-index: 1;
}
.navbar-brand>img.scroll-fixed {
    display: block;
    width: 70%;
}
#topheader.navbar-brand>img {
    display: block;
    width: 50%;
}
#header-default {
    position: relative;
    padding-top: 0;
}
.navbar1 {
    position: relative;
    min-height: 75px;
    margin-bottom: 0px!important;
    border: 1px solid transparent;
}
/* .nav {
    overflow-x: hidden;
    overflow-y: hidden;
} */

.navbar-nav li a.active {
    color: #fc6804;
}
#menu-main-menu {
    color: #FFF;
    font-size: 20px;
    height: auto;
    width: 100%;
    background: #111f28;
    height: 48px;
    padding: 6px 0px;
}
.navbar-light .navbar-brand {
    color: #f0801a!important;
    font-size: 40px;
}

.navbar-nav li > a:hover, #topheader .navbar-nav li > a:focus {
    color: #fc6804;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #f7f7f9!important;
}

/* .nav li {
    padding-top: 25px;
} */
.navbar-nav li.active > a {
    color: #fc6804;
 
}
.nav-item .active > a {
    color: #fc6804;
}
.navbar-brand>img {
    display: block;
    width: 75%;
    /* margin-top: -2px; */
}
.navbar-nav .nav-link{
    display: block;
}
.m-a-0 {
    margin: 0px;
}
.pd-t-1 {
    padding-top: 1.925rem!important;
}
.navbar-brand span {
    display: block;
    color: #272625!important;
    padding: 3px;
    font-size: 15px;
}
.bg-faded {
    /* background-color: #f0801a; */
    display: flex;
    align-items: center;
    padding-left: 100px;
}
.top__head {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-nav .nav-link {
    color: #111f28;;
    cursor: pointer;
    position: relative;
    padding: 5px;
    font-family: "Carrois Gothic",sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.navbar-nav .nav-item1+.nav-item {
    margin-left: 2.1rem;
}
/* .nav-item .nav-link:after {
    background-color: #fc6804;
} */
.nav-item:hover .nav-link:after {
    bottom: -1px;
    opacity: 1;
}

.nav-item1 :after {
    display: block;
    content: '';
    position: relative;
    bottom: -0.4em;
    margin: 2px auto 0px;
    height: 2px;
    /* width: 100%; */
    opacity: 0;
    transition: all 0.3s;
}
.nav-item1 :after {
    background-color: #fc6804;
    /* border: 2px solid; */
}
.navbar-nav .nav-link .fa {
    color: #fff;
}
.nav-item:hover .fa {
    color: #fc6804;
}
.navbar-brand {
    line-height: 32px;
    margin-right: 0px!important;
    float: left;
    font-size: 18px;
    line-height: 20px;
    /* padding-left: 75px!important; */
    padding: 0px!important;
    float: left;
    height: 100%!important;
    padding-top: .25rem!important;
    padding-bottom: .25rem!important;
    margin-left: -30px;
    display: flex;
    justify-content: center;
}
.pd-r {
    padding-right: 110px;
    padding-top: 25px;
}


.navbar-brand1 {
    position: relative;
    min-height: 90px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.nav-item {
    list-style: none;
    /* font-size: 15px; */
    font-weight: 500;
}
/* scroller-button */
#scroll {
    right:0px;
    bottom:10px;
    cursor:pointer;
    display: block;
    position: fixed;
    z-index: 100;
    text-align: center;
    font-size: 3.2rem;
    border-radius: 0.3rem;
    outline: none !important;
    background-color: rgba(0,0,0,0.3);
    color: #fff !important;
    transform: translate3d(0,1.2rem,0);
    line-height: 50px;
    height: 50px;
    width: 50px;
    margin: 15px;
    text-decoration: none;
}

#scroll:before {
    content: '\f106';
    font-family: fontawesome;
    vertical-align: top;
    text-decoration: none;
}
#scroll span {
    display: none;
    margin-left: 0.5rem;
}
#scroll:hover {
    background-color:#fc6804;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
    text-decoration: none;
}
.nav-flex-icons {
    padding-top: 4px;
    padding-right: 5px;
}
/* new header css */
.submenu-bottom {
    display: none;
    position: fixed;
    /* padding: 3px 0px 4px 0px; */
    padding-top: 2px;
    text-decoration: none;
    text-align: center;
    list-style: none;
    left: 100px;
    right: 0;
    width: 82%;
    transform-origin: 0% 100%;
    transition-duration: 1.3s;
    /* margin-top: 23px; */
    z-index: 111;
  }
.head__dropdown {
    background-color: #e3e4e4;
    margin-top: 18px;
}
.nav-item:hover .submenu-bottom {
    display: block;
    visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transition-duration: 1.3s;
}
.column {
    line-height: 1.5em;
    white-space: nowrap;
    /* transition: color 0.1s, background-color 0.1s; */
    display: flex;
    transition: all 1.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.column a {
    width: 100%;
    display: block;
    font-size: 15px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    transition-duration: 0.6s;
    display: flex;
}
.column a:hover {
    width: 100%;
    display: block;
    background-color: rgba(61,64,148,.93);
    color: #fff;
    text-decoration: none;
    transition-duration: 0.6s;
    display: flex;

}



.accordion-tabs-minimal .tab-content {
    display: none;
    padding: 1.5em 1.618em;
    width: 100%; }
  
  .accordion-tabs-minimal {
    line-height: 1.5;
    padding: 0; }
  
  .accordion-tabs-minimal::after {
    clear: both;
    content: "";
    display: table; }
  
   li.tab-header-and-content {
    list-style: none; }
  
  /* a.tab-link {
    background-color: #DDD;
    border-top: 1px solid #AAA;
    font-weight: bold;
    color: #333;
    display: block;
    padding: 0.75em 1.618em;
    text-decoration: none; } */
  
/* .tab-link:hover {
    color: #477dca; 
} */
.menu__list:hover {
    text-decoration: none;
}
.menu__list a:hover {
    text-decoration: none;
}
.menu__list li:hover {
    color: #f0801a!important;
}
.tab-link:focus {
    outline: none; 
    text-decoration: none;
}
.tab-link {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 0 8px 0px; 
    padding-left: 15px;
}
.tab-link a {
    width: 100%;
    padding: 8px 0 8px 0px; 
    padding-left: 15px;
}
li.tab-link {
    padding: 0px!important;
}
  
li.tab-link.is-active {
    border-bottom: 0;
    background-color: #f0801a; 
    width: 100%;
    display: flex;
    align-items: center;
}
a.links { 
    text-decoration:none;
    margin-left:25px; 
}

/* home-page */
.welcome-block p {
    color: #414243;
    line-height: 1.6;
    font-size: 18px;
    font-style: normal;
    font-family: "Open Sans",sans-serif;
}
.welcome-block {
    padding-top: 20px;
    background-color: #f4f4f5;
    border-bottom: 1px solid #ececec;
    text-align: center;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25) inset;
}
.clearfix h3 {
    color: #db914d;
}
.clearfix {
    margin-top: 30px;
    display: flex;
}
.short_title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 1.2px;
    border-bottom: 1px solid;
    padding-bottom: 3px;
    margin-bottom: 10px;
}
.short__title-list {
    list-style: none;
    padding: 0px;
    
}
.short__title-list li {
    padding-bottom: 8px;
    margin-bottom: 8px;
    
}
.clearfix__short {
    padding-left: 15px;
    padding-right: 15px;
    width: 38%;
}
.grp-comp-box {
    list-style: none;
    padding: 0px;
}
ul.grp-comp-box li {
    background: #fff;
    border: 1px solid #dcdcdc;
    display: block;
    float: left;
    list-style: none;
    margin: 0 0 10px;
    padding: 8px 0;
    text-align: center;
    width: 100%;
}
a, a:link, a:visited, .entry-single a {
    color: #666;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
ul.short__title-list li {
    line-height: 1.6;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
 
}
.slider-header h3 {
    color: #000 !important;
    font-style: normal;
    margin-bottom: 12px;
    font-size: 19px;
    line-height: 22px;
    text-align: left;
}
.clearfix_res {
    justify-content: space-between;
}
.pd-l-100 {
    padding-left: 100px!important;
    padding-right: 50px!important;
}
.pd-l-0 {
    padding-left: 0px!important;
}
/* footer */
.no-pad {
    line-height: 1.6;
    margin-bottom: 0.6rem;
    display: flex;
}
.no-pad p {
    line-height: 1.6;
    margin-bottom: 0.6rem;
}
#footer {
    background-color:black;
    padding-bottom: 15px;
    color: #999999;
    line-height: 19px;
    font-size: 12px;
    font-style: normal;
}
#footer {
    background-color: #111f28;;
    border-bottom: 0px solid #000000;
    padding: 10px 0;
    font-size: 12px;
    color: #999;
    overflow-x: hidden;
}
address {
    display: block;
    margin-bottom: 20px;
    font-style: normal;
    line-height: 20px;
    font-size: 16px;
}
/* .row-fluid {
    display: flex;
} */
#footer ul li {
    color: #bcbec0;
    float: left;
    width: 100%;
    line-height: 1.6;
    margin-bottom: 0.6rem;
}
#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
    text-transform: uppercase;
    color: #e6e7e8;
    line-height: 20px;
    font-size: 15px;
    font-style: normal;
}
.footer-widget ul {
    list-style: none;
    padding: 0px;
}
#footer a, .footer-copyrights a {
    color: #BBBBBB;
    line-height: 19px;
    font-size: 12px;
    font-style: normal;
}
.foot-address .no-pad:first-child .fa {
    font-size: 18px;
}
.foot-address .no-pad .fa {
    float: left;
    font-size: 16px;
    line-height: 24px;
    width: 25px;
}
.foot-logo {
    margin-bottom: 5px;
    color: #e6e7e8!important;
    font-size: 30px!important;
}
.foot-logo span {
    display: block;
    padding: 3px;
    font-size: 15px;
}
.footer-widget  {
    width: 100%;
    margin-right: 40px;
    font-weight: 400;
}
.footer-widget i {
    padding-right: 15px;
}
#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid;
    color: #e6e7e8;
    line-height: 20px;
    font-size: 23px;
}
#footer ul.social-media li {
    padding: 0;
    background: none;
    padding: 8px 0px 8px 0;
    width: 75%;
    list-style: none;
    box-shadow: 0 0 0 2px #3e3c3c inset;
    border-radius: 0.25em;
}
#footer ul.social-media li a {
    position: relative;
    /* padding-left: 36px; */
}
#footer a, .footer-copyrights a {
    text-shadow: 1px 2px 2px rgba(0,0,0, 0.5 );
    filter: dropshadow(color= 1px 2px 2px rgba(0,0,0, 0.5 ));
}
#footer a, .footer-copyrights a {
    color: #BBBBBB;
    line-height: 19px;
    font-size: 16px;
    font-style: normal;
}
#footer ul.social-media li a.facebook-icon:before {
    content: "\f09a";
}
#footer ul.social-media li a:before {
    position: relative;
    width: 24px;
    height: 24px;
    /* left: 8px;
    top: -2px; */
    font-size: 16px;
}
#footer a:hover, .footer-copyrights a:hover {
    color: #fc6804;
    text-decoration: none;
}
#footer ul li:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.w-socials-list ul {
    display: flex;
    padding: 0px;
}
.w-socials-list li {
    margin-left: 5px;
    margin-right: 5px;
    display: block;
    text-align: center;
    position: relative;
    overflow: hidden;
    line-height: 2.5em;
    width: 3.5em!important;
    border: none !important;
    z-index: 0;
}
.w-socials-list ul li:hover {
    background-color: #fc6804!important;
    cursor: pointer;
    display: block;
    bottom: auto;
    height: 100%;
    transition: height 0.3s;
}
/* footer change */
.w-socials-item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0.1em;
}
.w-socials-item-link {
    display: block;
    text-align: center;
    position: relative;
    overflow: hidden;
    line-height: 2.5em!important;
    width: 2.5em;
    border: none !important;
    z-index: 0;
}
.w-socials-item-link-title {
    display: none;
}
.w-socials-item:hover {
    color: #fff !important;
}

.w-socials-item-link {
  -webkit-transition: all 0.6s cubic-bezier(.9, .24, .40, 1);
  transition: all 0.6s cubic-bezier(.9, .24, .40, 1)
}

.w-socials-item-link.fb::before {
    content: '';
    width: 100%;
    height: 0%;
    display: block;
    color: #fff !important;
    background-color: #42599e;
    position: absolute;
    left: 0%;
    opacity: 0;
    top: 0;
    z-index: -1;
    -webkit-transition: height .4s cubic-bezier(0.9, 1, 0.32, 1), opacity .1s ease;
    transition: height .4s cubic-bezier(0.9, 1, 0.32, 1), opacity .1s ease;
  
}

.w-socials-item-link.twt::before {
    content: '';
    width: 100%;
    height: 0%;
    display: block;
    color: #fff !important;
    background-color: #55acee;
    position: absolute;
    left: 0%;
    opacity: 0;
    top: 0;
    z-index: -1;
    -webkit-transition: height .4s cubic-bezier(0.9, 1, 0.32, 1), opacity .1s ease;
    transition: height .4s cubic-bezier(0.9, 1, 0.32, 1), opacity .1s ease;
  
}
.w-socials-item-link.ggl::before {
    content: '';
    width: 100%;
    height: 0%;
    display: block;
    color: #fff !important;
    background-color: #db4437;
    position: absolute;
    left: 0%;
    opacity: 0;
    top: 0;
    z-index: -1;
    -webkit-transition: height .4s cubic-bezier(0.9, 1, 0.32, 1), opacity .1s ease;
    transition: height .4s cubic-bezier(0.9, 1, 0.32, 1), opacity .1s ease;
  
}
.w-socials-item-link.lkin::before {
    content: '';
    width: 100%;
    height: 0%;
    display: block;
    color: #fff !important;
    background-color: #117eb9;
    position: absolute;
    left: 0%;
    opacity: 0;
    top: 0;
    z-index: -1;
    -webkit-transition: height .4s cubic-bezier(0.9, 1, 0.32, 1), opacity .1s ease;
    transition: height .4s cubic-bezier(0.9, 1, 0.32, 1), opacity .1s ease;
  
}
.w-socials-item-link.ytube::before {
    content: '';
    width: 100%;
    height: 0%;
    display: block;
    color: #fff !important;
    background-color: #cd201f;
    position: absolute;
    left: 0%;
    opacity: 0;
    top: 0;
    z-index: -1;
    -webkit-transition: height .4s cubic-bezier(0.9, 1, 0.32, 1), opacity .1s ease;
    transition: height .4s cubic-bezier(0.9, 1, 0.32, 1), opacity .1s ease;
  
}
.w-socials-item-link:hover::before {
    opacity: 1;
    height: 100%;
}
.w-socials.color_brand .w-socials-item.facebook .w-socials-item-link:hover {
    color: #fff !important;
}
.w-socials.color_brand .w-socials-item.twitter .w-socials-item-link:hover {
    color: #fff !important;
}
.w-socials.color_brand .w-socials-item.google .w-socials-item-link:hover {
    color: #fff !important;
}
.w-socials.color_brand .w-socials-item.linkedin .w-socials-item-link:hover {
    color: #fff !important;
}
.w-socials.color_brand .w-socials-item.youtube .w-socials-item-link:hover {
    color: #fff !important;
  
}
.w-socials.color_brand .w-socials-item.facebook .w-socials-item-link {
    color: #42599e!important;
}
.w-socials.color_brand .w-socials-item.twitter .w-socials-item-link {
    color: #55acee!important;
}
.w-socials.color_brand .w-socials-item.google .w-socials-item-link {
    color: #db4437!important;
}
.w-socials.color_brand .w-socials-item.linkedin .w-socials-item-link {
    color: #117eb9!important;
}
.w-socials.color_brand .w-socials-item.youtube .w-socials-item-link {
    color: #cd201f!important;
}
.w-socials-item.facebook .w-socials-item-link:after {
    content: '\f09a';
}
.w-socials-item.twitter .w-socials-item-link:after {
    content: '\f099';
}
.w-socials-item.google .w-socials-item-link:after {
    content: '\f0d5';
}
.w-socials-item.linkedin .w-socials-item-link:after {
    content: '\f0e1';
}
.w-socials-item.youtube .w-socials-item-link:after {
    content: '\f16a';
}
.w-socials-item-link:after {
    font-family: fontawesome;
}
.w-socials-item-link:after, .w-socials-item-link i {
    display: block;
    line-height: inherit;
    position: relative;
}

.w-socials-item-link-hover {
    display: block;
    bottom: auto;
    height: 0;
    transition: height 0.3s;
}
.w-socials-item-link-hover {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.w-socials.style_outlined .w-socials-item-link {
    box-shadow: 0 0 0 2px #3e3c3c inset;
    border-radius: 0.25em;
}
.w-socials-item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0.1em;
}
.w-socials-item-popup {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 100%;
    text-align: center;
    white-space: nowrap;
    z-index: 10;
    font-size: 0.9rem;
    line-height: 2.4rem;
    padding: 0 1rem;
    margin-bottom: 0.4rem;
    border-radius: 0.25rem;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(-50%,-1em,0);
    transition: opacity 0.2s cubic-bezier(.78,.13,.15,.86) 0.3s, transform 0.2s cubic-bezier(.78,.13,.15,.86) 0.3s;
}


/***** footer-copyrights *****/
.footer-copyrights {
    border-top: 1px solid #444444;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #242628;
}
.footer-copyrights {
    border-top: 1px solid #444;
    padding: 15px 0;
    background-color: #242628;
    font-size: 11px;
}
.footer-copyrights-details {
    display: flex;
    justify-content: space-between;    
    color: #555555;
}
.footer-company-Visitors img {
    display: block;
    padding-top: 5px;
}
.mr-b-12 {
    margin-bottom: 22px;
}

/******about-as *****/
#entry-separator {
    background: url(../image/contact-banner.jpg) no-repeat center 0;
    width: 100%;
    background-size: cover;
    height: 230px;
}
.energy-contact {
    padding-top: 30px!important;
}
#entry-separator {
    background-color: #f3f4f5;
    color: #fff;
}
#entry-separator {
    width: 100%;
    padding: 55px 0;
    margin-top: 0px;
    color: #999;
    font-weight: 100;
    background-color: #f1f2f3;
    font-size: 14px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25) inset;
}
#entry-separator h1, #entry-separator h2, #entry-separator h3 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 0px;
    color: #fff;
    display: inline-block;
}
#entry-separator {
    /* background-color: #001e57; */
    color: #fff;
    width: 100%;
    height: auto;
   
}
#entry-separator .breadcrumb {
    display: block;
    float: right;
    color: #999;
    text-transform: uppercase;
    background-color: #F1F2F3;
    border: 1px solid #CFCFCF;
    margin-bottom: 0;
    padding: 5px 10px;
    font-size: 11px;
}
.entry-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.entry-head-servied {
    display: flex;
    justify-content: center;
}
.entry-head-servied h1 {
    font-size: 27px!important;
}
#entry-separator .breadcrumb a {
    color: #777;
    font-weight: bold;
    text-decoration: none;
}
.fa-home {
    font-size: 15px!important;
    color: red;
    padding-right: 2px;
}
/* sidebar */
#content {
    margin-top: 45px;
    margin-bottom: 40px;
}
#content1 {
    background-color: #F6F6F6;
    padding-top: 45px;
}
.widget {
    font-size: 12px;
    color: #777;
    position: relative;
}
.widget > h3.short_title {
    font-size: 20px;
    border-bottom: none;
    letter-spacing: normal;
    color: #000;
    font-weight: 550;
}
.widget ul, .widget ol {
    margin-bottom: 15px;
}
.sidebar .menu li, [id^="recent-posts-"] li, [id^="pages-"] li {
    /* padding: 8px 0 8px 0px; */
    text-transform: uppercase;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 550;
    border-color: #e0e0e0;
    border-width: 1px 0 0 !important;
    border-style: solid;
    padding: 0.6em 1.2em;
}

.sidebar .menu__list li, [id^="recent-posts-"] li, [id^="pages-"] li {
    border-bottom: 1px dotted #dfdfdf;
    padding: 8px 0 8px 15px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
#menu-features {
    list-style: none;
    padding: 0px;
    text-decoration: none;
}
.menu i {
    padding-right: 15px;
}
.menu__list i {
    padding-right: 15px;
}
[class*="span"].pull-right, .row-fluid [class*="span"].pull-right {
    float: right;
}
h3.short_title {
    color: #f0801a;
}
.hentry p {
    font-size: 16px;
    line-height: 1.6;
    margin: 0px;
}
.hentry li {
    font-size: 16px;
    line-height: 1.6;
    list-style: none;
}
.about-group p {
    color: #555555;
    line-height: 1.6;
    font-size: 16px;
}    
/* export-to */
.partners-carousel {
    border-top: 1px solid #ececec;
    position: relative;
    text-align: center;
    margin-top: 45px;
}
.partners-carousel > .carousel-title {
    background-color: #f0801a!important;
}
.partners-carousel > .carousel-title {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    background-color: #47aede;
    padding: 5px 10px;
    color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-top: -17px;
    font-weight: 700;
    display: inline-block;
}
.slides-partners {
    display: inline-block;
    margin-bottom: 0 !important;
}
.slides-partners, .slides-partners li {
    list-style-type: none;
}
.slides-partners li {
    float: left;
    margin-top: 40px;
    /* width: 150px; */
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}
.slides-partners li img {
    border: 1px solid #dfdfdf;
    padding: 2px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.divider.plus {
    height: 1px;
    border-bottom: 0px solid #bbb;
    position: relative;
}
/* process */
.divider {
    width: 100%;
    display: block;
    border-bottom: 1px solid #BBB;
    margin: 0 0 30px 0;
    position: relative;
}
.process-page {
    display: flex;
}
.process_list {
    padding: 0px;
}
.process_list ul {
    list-style: none;
    line-height: 22px;
    font-size: 13px;
    padding: 0px;
}
.process_list ul li {
    position: relative;
    /* padding-left: 20px; */
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
    margin-bottom: 10px;
    list-style: none;
    font-size: 16px;
    line-height: 1.6;
}
.process_list ul li:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}
.process_list ul h4 {
    color: #000;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 5px;
}
/* .process_list ul li:before {
    content: "\f101";
    position: absolute;
    width: 24px;
    height: 24px;
    left: 5px;
    top: -2px;
    font-size: 13px;
    color: #da251c;
    font-family: 'FontAwesome';
} */
.process-image {
    width: fit-content;
}
.menu li:hover a {
    color: #f0801a!important;
    text-decoration: none;
}
.menu li:hover {
    color: #f0801a!important;
    background-color: #f6f6f6;
}
/* quality-assurance */
.quality-section {
    background-color: #fff!important;
    padding: 5rem 0;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
}
.quality_text_column h3 {
    color: #fc6804;
    text-align: left;
    line-height: 1.4;
    margin: 0 0 2.5rem;
}
.quality_text_column h4 {
    color: #000;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 5px;
}
.quality_text_column p {
    text-align: left;
    line-height: 1.6;
    margin: 0 0 2.5rem;
    font-size: 16px;
}
.quality_column-inner {
    background-color: #fff!important;
    padding: 1.9rem;
}
.quality_column-inner h4 {
    color: #000;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 5px;
}
.quality_column-inner p {
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
.qua_wrapper h3 {
    color: #fc6804;
    text-align: center;
    line-height: 1.4;
    margin: 0 0 1.5rem;
}
.qua-just-icon-wrapper {
    text-align: center;
    
}
.quality {
    position: relative;
}
.quality {
    width: 200px;
    border-style: solid;
    border-color: #ccc;
    border-bottom-width: 0.01px;
    content: "";
    bottom: 50%;
    right: 0;
    top: 50%;
    border-width: 0;
    top: 50%;
    width: 100%;
    border-style: solid;
    border-color: #ccc;
    border-bottom-width: 1px;
}

.mr-l-20 {
    margin-left: 20px!important;
}
.attachment-full {
    border-width: 5px;
    border-style: solid;
    color: #e5e5e5;
}
.quality-image-h {
    display: flex;
    justify-content: space-between;
}
.qua-section {
    background-color: #fff!important;
    margin-top: 70px;
    padding: 5.5rem;
    /* padding-bottom: 0px; */
    margin-bottom: 0px;
}
.qua-gallery-list {
    display: flex;
}

.quality-page {
    display: flex;
}
.quality_list {
    padding: 0px;
}
.quality_list ul {
    list-style: none;
    line-height: 22px;
    font-size: 13px;
    padding: 0px;
}
.quality_list ul li {
    position: relative;
    padding-left: 20px;
    padding-bottom: 3px;
    margin-bottom: 3px;
    list-style: none;
}
.quality_list h4 {
    color: #111;
    font-style: normal;
    line-height: 22px;
    border-bottom: 1px solid #acacac;
    padding-bottom: 3px;
    margin-bottom: 10px;
}
.quality_list ul li:before {
    content: "\f101";
    position: absolute;
    width: 24px;
    height: 24px;
    left: 5px;
    top: -2px;
    font-size: 13px;
    color: #f0801a;
    font-family: 'FontAwesome';
}
.quality-image {
    width: min-content;
}
.quality_list h4 {
    color: #111;
    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    border-bottom: 1px solid #acacac;
    padding-bottom: 3px;
    margin-bottom: 10px;
}
.flexslider .slides img {
    display: block;
    width: 268px;
}
.recent-works .post-date {
    position: absolute;
    right: 20px;
    top: 0;
    color: #fff;
    font-size: 11px;
    padding: 0 10px 0 10px;
    background-color: #47aede;
    line-height: 22px;
    margin-top: -10px;
    /* z-index: 200; */
    letter-spacing: 1px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.post-date, .post-author, .price-info {
    background-color: #da251c !important;
}
.recent-works {
    padding-top: 15px;
    width: 268px;
    position: sticky;
}
.media-thumb {
    position: relative;
    margin-bottom: 15px;
}
.media-thumb .mask-info {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background-color: #47aede;
    width: 0;
    height: 0;
    color: #fff;
    -webkit-transition: all .55s ease 0s;
    -moz-transition: all .55s ease 0s;
    -o-transition: all .55s ease 0s;
    transition: all .55s ease 0s;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    z-index: 100;
    width: 100%;
}
ul.info-list {
    padding: 70px;
    position: absolute;
    display: block;
    left: 0;
    top: -40px;
    -webkit-transition: all .0s linear;
    -moz-transition: all .0s linear;
    -o-transition: all .0s linear;
    transition: all .0s linear;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
ul.info-list, ul.info-list li {
    list-style-type: none;
}
.pro-cat-list > ul.portfolio-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.pro-cat-list {
    margin: 0;
    position: relative;
    zoom: 1;
}
.pro-cat-list > ul.portfolio-list > li {
    float: left;
    margin-right: 19px;
    display: block;
}
/*****technical-capabilities *****/
.hentry h4 {
    color: #111;
    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    border-bottom: 1px solid #acacac;
    padding-bottom: 3px;
    margin-bottom: 10px;
}
table {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    /* font-family: Arial, Helvetica, sans-serif; */
}

table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
.capability-table {
    display: flex;
}
.table__Material p {
    font-size: 16px;
    line-height: 1.6;
}
.mr-l-20 {
    margin-left: 20px;
}
table td strong {
    color: #f0805a;
    margin: 0;
}
.table__Material h3 {
    color: #f0801a;
    font-style: normal;
    margin-bottom: 10px;
    font-size: 19px;
    line-height: 22px;
}
.table__Material h4 {
    color: #111;
    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    border-bottom: 1px solid #acacac;
    padding-bottom: 3px;
    margin-bottom: 10px;
}
.pro-cat-list > ul.portfolio-list__img {
    margin: 0;
    padding: 0;
    list-style: none;
    /* display: flex; */
}
.portfolio-list__img {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.pro-cat-list > ul.portfolio-list__img > li {
    float: left;
    margin-right: 7px;
    display: block;
}

.contact-image img{
    width: 100%;
}

/* contact-us */
.contactus h2 {
    font-size: 55px;
    font-weight: 700;
    color: #000;
    font-size: 35px;
}
.border {
    width: 97%;
    height: 2px;
    background: #191E22;
}
.contactus p {
    color: #686D71;
    line-height: 1.6;
}
.contact_details h5 {
    font-size: 18px;
    font-weight: 700;
}
.contact_details .icons {
    color: #FD3E45;
    text-align: center;
    margin: -10px;
}

.icons__mobile {
    font-size: 50px;
}
.icons__envelope {
    font-size: 35px;
}
/* dropdown */
.contact_info {
    padding: 30px 50px 30px 50px;
    background: #fff;
}
.contact_info h3 {
    font-size: 38px;
    color: #000;
}
.contact_info .form-group {
    padding-left: 0;
}
.form-group {
    margin-bottom: 15px;
}
.contact_info .form-control {
    background-color: #F3F3F3;
}
.contact_info .form-control1 {
    height: 60px!important;
    background-color: #F3F3F3;
    font-size: 15px;
    padding: 18px 12px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-top: 0px;
}

.form-control:focus {
    border-color: #66afe9!important;
    background-color: #F3F3F3!important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.contactus .form-control {
    background-color: #F3F3F3;
}
.nopadding {
    padding: 0 !important;
}
.contact_info input[type="file"] {
    display: block;
    width: 100%;
    background: #F3F3F3;
    border: 1px solid #ccc;
}
.contact_info .contact_info h6 {
    margin-bottom: 0;
    color: #686D71;
    font-size: 12px;
}
.contact_info .btnRead {
    float: right;
    background: #db914d;;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}
.contact_info .form_click_inner1 {
    display: none;
}

/*****************slider***********************/
/* ==== Main CSS === */
.img-fill{
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
    height: 530px;
  }
  .img-fill1{
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
    height: 200px;
  }
  
  .img-fill img {
    min-height: 100%;
    min-width: 100%;
    position: relative;
    display: inline-block;
    max-width: none;
  }
  .img-fill1 img {
    min-height: 100%;
    min-width: 100%;
    position: relative;
    display: inline-block;
    max-width: none;
  }
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  }
  
  .Grid1k {
    padding: 0 15px;
    max-width: 1200px;
    margin: auto;
  }
  
  .blocks-box,
  .slick-slider {
    margin: 0;
    padding: 0!important;
  }
  
  .slick-slide {
    float: left /* If RTL Make This Right */ ;
    padding: 0;
  }
  
  /* ==== Slider Style === */
  .Modern-Slider .item .img-fill{
    background:#000;
  }
  .Modern-Slider .item .img-fill1{
    background:#000;
  }
  
  .Modern-Slider .item .img-fill .info{
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background:rgba(0,0,0,.50);
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Modern-Slider .item .img-fill1 .info{
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background:rgba(0,0,0,.50);
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Modern-Slider .item .info > div{
    display:inline-block!important;
  }
  
  .Modern-Slider .NextArrow{
    position:absolute;
    top:50%;
    right:0px;
    width:45px;
    height:45px;
    background:rgba(0,0,0,.50);
    border:0 none;
    margin-top:-22.5px;
    text-align:center;
    font:20px/45px FontAwesome;
    color:#FFF;
    z-index:5;
  }
  
  .Modern-Slider .NextArrow:before{content:'\f105';}
  
  .Modern-Slider .PrevArrow{
    position:absolute;
    top:50%;
    left:0px;
    width:45px;
    height:45px;
    background:rgba(0,0,0,.50);
    border:0 none;
    margin-top:-22.5px;
    text-align:center;
    font:20px/45px FontAwesome;
    color:#FFF;
    z-index:5;
  }
  
  .Modern-Slider .PrevArrow:before{content:'\f104';}
  
  .Modern-Slider .slick-dots{
    position:absolute;
    height:5px;
    background:rgba(255,255,255,.20);
    bottom:0px;
    /* width:100%; */
    left:0px;
    padding:0px;
    margin:0px;
    list-style-type:none;
  }
  .Modern-Slider .slick-dots li button{display:none;}
  .Modern-Slider .slick-dots li{
    float:left;
    width:0px;
    height:5px;
    background:#d62828;
    position:absolute;
    left:0px;
    bottom:0px;
    display: none;
  }
  
  .Modern-Slider .slick-dots li.slick-active{
    width:100%;
    animation:ProgressDots 11s both;
  }
  
  .Modern-Slider .item h3{
    font:30px/50px RalewayB;
    text-transform:uppercase;
    color:#FFF;
    animation:fadeOutRight 1s both;
    margin:0;
    padding:0;
  }
  
  .Modern-Slider .item h5{
    margin:0;
    padding:0;
    font:16px/30px RalewayR;
    color:#FFF;
    max-width:600px;
    overflow:hidden;
    height:60px;
    animation:fadeOutLeft 1s both;
  }
  
  /* .Modern-Slider .item.slick-active h3{
    animation:fadeInUp 3s both 1.5s;
  } */
  
  /* .Modern-Slider .item.slick-active h5{
    animation:fadeInLeft 1s both 1.5s;
  } */
  
  .Modern-Slider .item.slick-active{
    animation:Slick-FastSwipeIn 1s both;
  }
  
  .Modern-Slider {
      background:#000;
    }
  
  /* ==== Slider Image Transition === */
   @keyframes Slick-FastSwipeIn{
      /* 0%{transform:rotate3d(0, 0, 0, 0deg);}  */
      0%{transform: translate3d(-' + (100-$(this).scrollLeft()/6) + 'px,0,0);} 
      100%{transform:rotate3d(0,1,0,0deg) scale(1) perspective(400px);} 
  }
  /*
  @-webkit-keyframes ProgressDots{from{width:0px;}to{width:100%;}}
  @keyframes ProgressDots{from{width:0px;}to{width:100%;}} */
  
  /* ==== Slick Slider Css Ruls === */
.slick-slider {
      position:relative;
      display:block;
      -webkit-user-select:none;
      -moz-user-select:none;
      -ms-user-select:none;
      user-select:none;
      -webkit-touch-callout:none;
      -khtml-user-select:none;
      -ms-touch-action:pan-y;
      touch-action:pan-y;
      -webkit-tap-highlight-color:transparent
}
.slick-list {
      position:relative;
      display:block;
      overflow:hidden;
      margin:0;
      padding:0
}
.slick-list:focus {
      outline:none
}
.slick-list.dragging {
        cursor:hand
}
.slick-slider .slick-track,.slick-slider .slick-list {
      -webkit-transform:translate3d(0,0,0);
      -ms-transform:translate3d(0,0,0);
      transform:translate3d(0,0,0)
}
.slick-track {
      position:relative;
      top:0;
      left:0;
      display:block
    }
.slick-track:before,.slick-track:after {
      display:table;
      content:''
    }
.slick-track:after {
    clear:both
}
.slick-loading .slick-track {
    visibility:hidden
}
.slick-slide {
    display:none;
    float:left /* If RTL Make This Right */ ;
    height:100%;
    min-height:1px
}
.slick-slide.dragging img {
    pointer-events:none
}
.slick-initialized .slick-slide {
    display:block
}
.slick-loading .slick-slide {
    visibility:hidden
}
.slick-vertical .slick-slide {
    display:block;
    height:auto;
    border:1px solid transparent
}
/*****************************home-slider-2*******************/
/* Slick Slider Css Ruls */

.slick-slider {
    position: sticky;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
  }
  
  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
  }
  
  .slick-list:focus {
    outline: none
  }
  
  .slick-list.dragging {
    cursor: hand
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  
  .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block
  }
  
  .slick-track:before,
  .slick-track:after {
    display: table;
    content: ''
  }
  
  .slick-track:after {
    clear: both
  }
  
  .slick-loading .slick-track {
    visibility: hidden
  }
  
  .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
  }
  
  .slick-slide.dragging img {
    pointer-events: none
  }
  
  .slick-initialized .slick-slide {
    display: block
  }
  
  .slick-loading .slick-slide {
    visibility: hidden
  }
  
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
  }
  
  .img-fill {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center
  }
  
  .img-fill img {
    height: 100%;
    min-width: 100%;
    position: relative;
    display: inline-block;
    max-width: none
  }
  /* Slider Theme Style */
  
  .Container {
    padding: 0 3px;
  }
  
  .Container:after,
  .Container .Head:after {
    content: '';
    display: block;
    clear: both;
  }
  
  .Container .Head {
    color: #f0801a;
    height: 52px;
    /* over-flow: hidden; */
    border-bottom:1px solid rgba(0,0,0,.25);
    line-height: 3;
    font-size: 24px;
    letter-spacing: 1.2px;
  }
  
  .Container .Head .Arrows {
    float: right;
    margin-top: -10px;
  }
  
  .Container .Head .Slick-Next,
  .Container .Head .Slick-Prev {
    display: inline-block;
    width: 38px;
    height: 38px;
    margin-top: 6px;
    background: #2b2b2b;
    color: #FFF;
    margin-left: 5px;
    cursor: pointer;
    font: 17px/37px FontAwesome;
    text-align: center;
    transition: all 0.5s;
  }
  
  .Container .Head .Slick-Next:hover,
  .Container .Head .Slick-Prev:hover {
    background: #33687a;
  }
  
  .Container .Head .Slick-Next:before {
    content: '\f105'
  }
  
  .Container .Head .Slick-Prev:before {
    content: '\f104'
  }
  
  .SlickCarousel {
    margin: 0 -7.5px;
    margin-top: 10px;
  }
  
  .ProductBlock {
    padding: 0 7.5px;
  }
  
  .ProductBlock .img-fill {
    height: 200px;
  }
  
  .ProductBlock h3 {
    font: 15px/36px RalewayR;
    color: #393939;
    margin-top: 5px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .25);
  }
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  }

  /* home-slider-2-hover */
  .w-portfolio-item-meta {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 4rem 2rem 1.5rem;
    background: none;
    transition: color 0.4s;
    color: #fff;
}
.w-portfolio-item-title {
    font-size: 1.5rem;
    letter-spacing: 0;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
    color: inherit !important;
}
.w-portfolio-item-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: inherit;
}
.w-portfolio-item-image {
    right: -1px;
    bottom: -1px;
    transform: translate3d(0,0,0);
    transition: transform 0.35s;
}
.w-portfolio-item-image:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s;
    background-color: inherit;
}
.w-portfolio-item-meta:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(transparent, rgba(30,30,30,0.8)) repeat-x;
    transition: opacity 0.4s;
}
.w-portfolio-item-anchor:hover .w-portfolio-item-image {
    transform: scale(1.1);
}

.w-portfolio-item-image {
    right: -1px;
    bottom: -1px;
    transform: translate3d(0,0,0);
    transition: transform 0.35s;
}
.w-portfolio-item-anchor:hover .w-portfolio-item-image:after {
    opacity: 0.9;
}
.w-portfolio-item-image:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s;
    background-color: inherit;
}

.scrolled-nav {
    width: 88%!important;
    min-height: 50px!important;
    left: 0;
    right: 0;
    width: 100%;
    transform-origin: 50% 0;
    transition-duration: 0.9s;
    flex-shrink: 0;
    transition: height 0.9s!important;
    transition: all .9s linear!important;
  }
  .scrolled-nav1 {
    min-height: 35px!important;
    transition-duration: 0.9s;
    transition: height 0.9s!important;
    transition: all .5s linear!important;
  }
  .scrolled-nav2 {
    padding-top: 10px!important;
}
.head__dropdown1 {
    margin-top: 9px!important;
}
.nav > #nav-check {
    display: none;
  }

/* responsive-all-pages */

  @media (max-width:1329px) {
    .head__dropdown {
        display: none;
    }
    .nav>li>a:focus, .nav>li>a:hover {
        text-decoration: none;
        background-color: #eee;
        width: 50%;
    }
    .navbar-nav .nav-link {
        padding-left: 10px!important;
        color: #fff;
        display: flex;
    }
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 100px;
        top: 12px;
      }
      .nav-btn1 {
        top: 2px!important;
      }
      .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
      }
      /* .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: #f0801a;
      } */
      .nav>li {
        position: relative;
        display: block;
        width: 100%;
        margin-left: 2.1rem;
        padding-top: 3px;
        padding-bottom: 3px;
    }
      .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #f0801a;
      }
      .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #111f28;
        color: #ffffff;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 75px;
        left: 0px;
        z-index: 1;
      }
      .nav-links1 {
        top: 55px!important;
      }
      .nav > .nav-links > a {
        display: block;
        width: 100%;
      }
      .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
      }
      .nav > #nav-check:checked ~ .nav-links {
        /* height: calc(60vh - 50px); */
        overflow-y: auto;
        overflow-x: hidden;
        height: auto;
        width: 101%;
      }
    }

  @media (max-width:1199px) {
    .navbar-nav {
        margin: 7.5px -15px!important;
        padding-top: 0px;
        overflow-x: hidden;
    }
    .navbar-nav .nav-link {
        color: #fff;
        cursor: pointer;
        position: relative;
        padding: 0px;
        
    }
    .portfolio-list__img {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: grid;
    }
    
      .clearfix_res {
          display: grid;
      }
      .clearfix_res1 {
        display: grid;
    }
      .clearfix__short {
         width: 100%; 
    }
    .clearfix_res{
        width: 100%;
        justify-content: center;
        align-items: center;
        /* text-align: center; */
    }
    td {
        padding: 10px!important;
    }
    .sidebar_res {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
    }
    .clearfix_res1 {
        width: 100%;
        justify-content: center;
    }
    .clearfix_res {
        width: 250px;
    }
    .widget {
        width: 250px;
    }
    .pro-cat-list > ul.portfolio-list {
        display: inline;
    }
    .process_img {
        float: left;
    }
    .quality_img {
        float: right;
    }
    .pro-cat-list {
        justify-content: center;
        display: flex;
        align-items: center;
    }
    .type-page {
        /* text-align: center; */
        margin-left: 40px;
    }
    .tagcloud {
        justify-content: center;
        display: flex;
    }
    .w-socials-list ul {
        justify-content: center;
    }
    .location__foot h3 {
        text-align: center;
    }
  }

  @media (max-width:1024px) {
    .nav-flex-icons {
        padding-top: 4px;
        padding-right: 25px;
    }
    /* .nav > #nav-check:checked ~ .nav-links {
        height: calc(17vh - 50px);
    } */
  }
  @media (max-width:991px) {
    .nav-flex-icons {
        display: none;
    }
    .list-inline>li {
        padding-left: 0px!important;
    }
    .list-inline>li {
        display: inline-block;
        padding-right: 2px;
        padding-left: 2px;
        font-size: 9px;
    }
    
    #footer ul.social-media li {
        width: 26%;
        
    }
    .social-media {
        display: grid;
    }
    .footer-copyrights-details {
        display: inline;
    }
    .footer-company-name {
        padding-bottom: 15px;
    }
    .footer-company-Visitors {
        padding-bottom: 15px;
    }
   #footer {
    padding: 10px 0;
   }
   .footer_res {
       justify-content: center;
       align-items: center;
       text-align: center;
   }
   #content {
    margin-top: 10px;
    }
    .clearfix-sidebar {
        width: 100%;
    }
    .sidebar_res {
        justify-content: center;
        align-items: center;
        width: 100%;
        display: flex;
        overflow-x: hidden;
    }
    .about_img {
        width: auto;
        height: 230px;
        /* margin-left: -80px; */
    }
    .about-production__img {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .partners-carousel > .carousel-title {
        left: 45%;
    }
    .about-group p {
        width: 100%;
    }
    h3.short_title {
        width: 100%;
    }

    .capability-table {
        display: inline;
    }
    .capability_res {
        width: 100%;
    } 
    .clearfix_res1 {
        width: 100%;
    }
    .process-page {
        display: inline;
    }
    .quality_img {
        float: none;
    }
    .process-image {
        text-align: center;
    }
    .span12 {
        text-align: center;
    }
    .quality-page {
        display: inline-block;
    }
    .footer-widget {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .foot-logo {
        justify-content: center;
        text-align: center;      
    }
    .no-pad {
        justify-content: center;
        text-align: center;
    }
    .tagcloud {
        justify-content: center;
        display: flex;
    }
    .w-socials-list ul {
        justify-content: center;
    }
    .no-pad p {
        width: 220px;
    }
    .footer-widget i {
        padding-right: 0px;
    }
    .hentry p {
        font-size: 18px;
    }
}

@media (max-width:768px) {
    .bg-faded {
        padding-left: 25px;
    }
    .type-page {
        /* text-align: center; */
        margin-left: 0px;
    }
    .quality_list ul li:before {
        position: relative;
        left: -10px;
    }
    .quality-image {
        width: auto;
    }
    .pro-cat-list > ul.portfolio-list > li {
        float: initial;
        margin: 0px;
    }
    .contact_icon {
        display: flex;
        align-items: center;
        justify-content: left;
    }
    .contact_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .contact_info {
        padding: 0px 20px 10px 20px;
        margin-top: 10px;
    }
    .clearfix_res1 {
        margin-left: 15px;
    }
    .contact_info h3 {
        font-size: 25px;
    }
    .contact_item {
         display: inline; 
    }
   
    #entry-separator .breadcrumb {
        float: left;
        margin-top: 10px;
    }
    .qua-gallery-list {
        display: block;
    }
    .w-gallery-item-img {
        width: 50%;
    }
    .w-gallery-item {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .clearfix {
        margin-top: 20px;
        padding-left: 15px;
    }
    .hentry p {
        font-size: 18px;
    }
    .hentry li {
        font-size: 18px;
        text-align: left;
    }
    .list-inline>li {
        font-size: 12px;
    }
    .quality__inner-data .container {
        max-width: 100%!important;
    }
    .quality-section .container {
        max-width: 100%!important;
    }
    /* .nav > #nav-check:checked ~ .nav-links {
        height: calc(22vh - 50px);
    } */
    
}
   @media (max-width:590px) {
    .navbar-brand {
        padding-left: 25px!important;
    }
    .contact_icon {
        align-items: center;
        justify-content: left;
        padding-left: 15px;
    }
    .bg-faded {
        padding-left: 0px;
    }
    .clearfix_res1 {
        margin-left: 0px;
    }
    .process_list ul li {
        padding-left: 0px;
    }
    .quality-image-h {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .w-image-h{
        padding-top: 10px;
    }
    .mr-l-20 {
        margin-left: 0px!important;
    }
    .attachment-full {
        height: auto;
    }
    
}
@media (max-width:573px) {
    .about_img {
        width: auto;
        height: 140px;
    }
    .pro-cat-list {
        justify-content: center;
        display: block;
        align-items: center;
    }
    .type-page {
        margin-left: 0px;
    }
}
@media (max-width:544px) {
    .entry-top {
        display: none;
    }
    .nav > .nav-btn {
        right: 20px;
        top: 12px;
      }
      .contact_info {
        margin-left: 15px;
        margin-right: 15px;
        width: 90%;
    }
    
   

}
@media (max-width:496px) {
    .entry-head {
        display: inline;
    }
    .w-gallery-item-img {
        width: 100%;
    }
    /* .nav > #nav-check:checked ~ .nav-links {
        height: calc(35vh - 50px);
    } */
    .slides-partners li {
        margin-top: 20px;
    }
    .slides-partners, .slides-partners li {
        margin-top: 20px;
    }
    #entry-separator {
        background: none;
        width: 100%;
        background-size: cover;
        /* height: 230px; */
        background-color: #3ca1cb!important;
    }
    .mr-b-12 {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    h3.short_title {
        margin-top: 5px;
    }
    .process_list ul h4 {
        font-size: 22px;
    }
    .quality-section {
        padding: 2rem 0;
    }
    .quality_text_column p {
        margin: 0 0 1.2rem;
    }
    .quality_text_column h3 {
        margin: 0px 0 1.2rem;
    }
    .qua-section {
        margin-top: 30px;
    }
    .qua_wrapper h3 {
        margin: 1.5rem 0 1.5rem;
    }
    .recent-works {
        padding-top: 0px;
    }
    .hentry p {
        font-size: 17px;
    }
    .pro-cat-list {
        padding-top: 10px;
    }
    #content {
        margin-bottom: 10px;
    }
}
@media (max-width:376px) {
    .clearfix__img {
        width: 100%;
    }
    .clearfix_res {
        width: 100%;
    }
    .clearfix {
        padding-left: 0px;
    }
  
    .Container .Head .Slick-Next, .Container .Head .Slick-Prev {
        display: inline-block;
        width: 30px;
        height: 30px;
        font: 15px/30px FontAwesome;
    }
    .Container .Head .Arrows {
        float: right;
        margin-top: -8px;
        height: 65px;
    }
    .about_img {
        width: auto;
        height: 120px;
    }
    td {
        padding: 0px!important;
    }
    .quality-image-h {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .w-image-h{
        padding-top: 10px;
    }
    .mr-l-20 {
        margin-left: 0px!important;
    }
    .short_title {
        font-size: 21px;
    }
    .widget ul, .widget ol {
        margin-bottom: 0px;
    }
    .process_list ul h4 {
        font-size: 20px;
    }
    .hentry p {
        font-size: 15px;
    }
    

}
@media (max-width:360px) {
    .clearfix {
        padding-left: 30px;
    }
}
@media (max-width:354px) {
    .Container .Head {
        color: #f0801a;
        height: 52px;
        border-bottom: 1px solid rgba(0,0,0,.25);
        line-height: 3;
        font-size: 22px;
        letter-spacing: 1.2px;
    }
    .Container .Head .Slick-Next, .Container .Head .Slick-Prev {
        display: inline-block;
        width: 22px;
        height: 22px;
        font: 9px/22px FontAwesome;
    }
    .contact_info h3 {
        font-size: 24px;
    }
    /* .nav > #nav-check:checked ~ .nav-links {
        height: calc(45vh - 50px);
    } */
    .clearfix {
        padding-left: 10px;
    }
    h3.short_title {
        width: 100%;
    }
    .hentry p {
        font-size: 17px;
    }
    .widget {
        width: 100%;
    }
    .Container .Head .Arrows {
        margin-top: -5px;
    }
    .short_title {
        font-size: 18px;
    }
   
}

 /* image-zoom */
 #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 75%;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.out {
  animation-name: zoom-out;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@keyframes zoom-out {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


/******************** zoom-img2 ************/



